<div class="container">

  <p>{{title}}</p>

  <table class="table table-striped">
    <thead>
    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
      <th scope="col" jhiSortBy="id">
        # <fa-icon [icon]="'sort'"></fa-icon>
      </th>
      
      <th scope="col" jhiSortBy="firstName">
        Country <fa-icon [icon]="'sort'"></fa-icon>
      </th>
      <th scope="col" jhiSortBy="lastName">
        Area <fa-icon [icon]="'sort'"></fa-icon>
      </th>
      <th scope="col" jhiSortBy="address.city">
        User <fa-icon [icon]="'sort'"></fa-icon>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.address.city }} </td>
    </tr>
    </tbody>
  </table>
</div>
