<div class="container">

    <p>{{title}}</p>

    <table class="table table-striped">
        <thead>
        <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="onSort.bind(this)" jhiSort>
            <th jhiSortBy="id" scope="col">
                #
                <fa-icon [icon]="'sort'"></fa-icon>
            </th>

            <th jhiSortBy="firstName" scope="col">
                Country
                <fa-icon [icon]="'sort'"></fa-icon>
            </th>
            <th jhiSortBy="lastName" scope="col">
                Area
                <fa-icon [icon]="'sort'"></fa-icon>
            </th>
            <th jhiSortBy="address.city" scope="col">
                User
                <fa-icon [icon]="'sort'"></fa-icon>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.address.city }} </td>
        </tr>
        </tbody>
    </table>
</div>
